@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    font-size: .98em;
    overflow-wrap: break-word;
    hyphens: auto;
    word-break: break-all;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
}

*:focus {
    outline: none;
}

body {
    background: #6d4fc0;
    width: 80%;
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    margin: 15px 5px;
    padding: 5px;
    background: #fff;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #6d4fc0;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 1.3em;
}

form {
    display: flex;
    justify-content: space-around;
}

del {
    color: rgba(0, 0, 0, 0.3);
}

button {
    color: #fff;
    background-color: #6d4fc0;
    border-radius: 2em;
    padding: 0.4em 1em;
    border: 2px solid #6d4fc0;
    transition: .2s;
    cursor: pointer;
}

#inputTarefa{
    width: 80%;
}

input[type=text] {
    border-radius: 2em;
    padding: 0.3em 1em;
    border: 2px solid #6d4fc0;
    max-width: 70%;
}

ol li {
    transition: .2s;
    border-radius: 2em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ol li:nth-child(odd) {
    background: #f9f9f9;
}

ol li:hover {
    background: #6d4fc0;
}

button:hover {
    background-color: #4e3988;
    border: 2px solid #4e3988;
}

label, img, li {
    cursor: pointer;
}

ol {
    list-style: decimal inside none;
}

i{
    color: red;
}


@media screen and (min-width: 620px) {
    * {
        font-size: 1em;
    }
}

@media screen and (max-width: 570px) {
    * {
        font-size: 0.9em;
    }
    button{
        font-size: 0.5;
    }
}

@media screen and (min-width: 1000px) {

    input[type=text] {
        width: 35%;
    }

    body {
        width: 60%;
    }
}

li > div {
    display: flex;
    align-items: center;
}